html, body{
	height: 100%;
	/*background-color: #bbbbbb;*/
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.header{
	display: flex;
	width: 300px;
	height: 50px;
	font-family: sans-serif;
	/*background-color: yellow;*/
	position: absolute;
	top: 6px;
	right: 6px;
	align-items: center;
	justify-content: space-around;
}

.header img{
	width: 20px;
	height: 20px;
}

#wrapper{
	width: 600px;
	height: 300px;
	display: flex;
	flex-direction: column;
	background-color: white;
	justify-content: space-around;
	align-items: center;
	
	}

#logo img{
	width: 272px;
	height: 92px;
}

#searchbar{
	width: 584px;
	height: 44px;
	position: relative;
}

#bar{
	width: 584px;
	height: 44px;
	box-shadow: 0 10px 10px -10px gray;
	font-family: sans-serif;
	font-size: 20px;
	border-top-width: 1px;
	border-left-width: 1px;	
}

#barimg img{
	width: 32px;
	height: 30px;
	position: absolute; 
	bottom: 6px;
	right: 6px;
	/*bad practice, absolute and then pixel by pixel movement, can break.*/
}
.buttons{
	/*width: 400px;*/
	/*font-size: 20px;*/
	/*font-family: sans-serif;*/
	/*color: #757575;*/
}

#one{
	/*display: inline-block;*/
	width: 130px;
	height: 36px;
	/*border: 1px solid black;*/
	background-color: #f2f2f2;
	color: #757575;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	border: none;
}

#two{
	/*display: inline-block;*/
	width: 144px;
	height: 36px;
	/*border: 1px solid black;*/
	background-color: #f2f2f2;
	color: #757575;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	border: none;
}

.footer{
	width: 100%;
	height: 44px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #666;
	font-family: sans-serif;
	font-size: 14px;
	/*display: flex;*/
}

.footleft{
	width: 300px;
	height: 44px; 
	/*background-color: yellow;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}

.footright{
	position: absolute;
	bottom: 0;
	right: 0;
	/*background-color: yellow;*/
	width: 400px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}